openapi: 3.2.0
info:
  title: LDM v3 Admin / Honeypot API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Admin / Honeypot
paths:
  /api/honeypot/admin-login:
    get:
      operationId: HoneypotController_fakeAdminLoginGet
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Honeypot fake admin login GET (logs attacker scan)
      tags:
      - Admin / Honeypot
    post:
      operationId: HoneypotController_fakeAdminLoginPost
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Honeypot fake admin login POST (logs attacker credentials attempt)
      tags:
      - Admin / Honeypot
  /api/honeypot/env:
    get:
      operationId: HoneypotController_fakeEnv
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Honeypot fake .env file (logs secrets-scanner access)
      tags:
      - Admin / Honeypot
  /api/honeypot/wp-admin:
    get:
      operationId: HoneypotController_fakeWpAdmin
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Honeypot fake WordPress admin (logs WP-scanner access)
      tags:
      - Admin / Honeypot
  /api/honeypot/phpmyadmin:
    get:
      operationId: HoneypotController_fakePhpMyAdmin
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Honeypot fake phpMyAdmin (logs DB-scanner access)
      tags:
      - Admin / Honeypot
  /api/honeypot/actuator:
    get:
      operationId: HoneypotController_fakeActuator
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Honeypot fake Spring Boot actuator (logs probe access)
      tags:
      - Admin / Honeypot
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
