openapi: 3.2.0
info:
  title: LDM v3 Observability / API Tests API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Observability / API Tests
paths:
  /api/admin/api-tests/catalog:
    get:
      operationId: ApiTestsController_catalog
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: List the catalog of synthetic API test suites
      tags:
      - Observability / API Tests
      x-required-scope:
      - admin:read
  /api/admin/api-tests/run:
    post:
      operationId: ApiTestsController_run
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Run a synthetic API test suite (SUPER only)
      tags:
      - Observability / API Tests
      x-required-scope:
      - admin:write
  /api/admin/api-tests/runs:
    get:
      operationId: ApiTestsController_list
      parameters:
      - name: limit
        required: true
        in: query
        schema:
          type: string
      - name: suiteId
        required: true
        in: query
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: List recent synthetic API test runs
      tags:
      - Observability / API Tests
      x-required-scope:
      - admin:read
  /api/admin/api-tests/runs/{id}:
    get:
      operationId: ApiTestsController_get
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Get details of a single synthetic API test run
      tags:
      - Observability / API Tests
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
