openapi: 3.2.0
info:
  title: LDM v3 Files / Serve API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Files / Serve
paths:
  /api/uploads/images/{tenantDbName}/{filename}:
    get:
      operationId: FileServeController_serveImage
      parameters:
      - name: tenantDbName
        required: true
        in: path
        schema:
          type: string
      - name: filename
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Serve a tenant-scoped uploaded image
      tags:
      - Files / Serve
  /api/uploads/tenant-assets/{tenantDbName}/{filename}:
    get:
      operationId: FileServeController_serveTenantAsset
      parameters:
      - name: tenantDbName
        required: true
        in: path
        schema:
          type: string
      - name: filename
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Serve a tenant-scoped asset (signature, PDF photo)
      tags:
      - Files / Serve
  /api/uploads/dialog-attachments/{tenantDbName}/{filename}:
    get:
      operationId: FileServeController_serveDialogAttachment
      parameters:
      - name: tenantDbName
        required: true
        in: path
        schema:
          type: string
      - name: filename
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Download an inbound dialog attachment (#176)
      tags:
      - Files / Serve
  /api/uploads/avatars/{filename}:
    get:
      operationId: FileServeController_serveAvatar
      parameters:
      - name: filename
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Serve a user avatar image
      tags:
      - Files / Serve
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
