openapi: 3.2.0
info:
  title: LDM v3 Rules / Sub-resource API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Rules / Sub-resource
paths:
  /api/creatives/{id}/rules-sub:
    get:
      operationId: SubResourceRulesController_listSubResources
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: List available autopilot sub-resource keys
      tags:
      - Rules / Sub-resource
  /api/creatives/{id}/rules/{sub}:
    get:
      operationId: SubResourceRulesController_get
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: sub
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Get an autopilot sub-resource rules document
      tags:
      - Rules / Sub-resource
    patch:
      operationId: SubResourceRulesController_patch
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: sub
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Patch an autopilot sub-resource rules document
      tags:
      - Rules / Sub-resource
  /api/creatives/{id}/rules/{sub}/schema:
    get:
      operationId: SubResourceRulesController_getSchema
      parameters:
      - name: sub
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Get the JSON Schema for an autopilot sub-resource
      tags:
      - Rules / Sub-resource
  /api/creatives/{id}/rules/{sub}/history:
    get:
      operationId: SubResourceRulesController_history
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: sub
        required: true
        in: path
        schema:
          type: string
      - name: limit
        required: true
        in: query
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Get audit history for an autopilot sub-resource
      tags:
      - Rules / Sub-resource
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
