openapi: 3.2.0
info:
  title: LDM v3 Saved Views API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Saved Views
paths:
  /api/saved-views:
    get:
      operationId: SavedViewsController_findAll
      parameters:
      - name: entity
        required: true
        in: query
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: List saved views for an entity for the current user
      tags:
      - Saved Views
    post:
      operationId: SavedViewsController_create
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateViewDto'
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Create a saved view
      tags:
      - Saved Views
  /api/saved-views/{id}:
    patch:
      operationId: SavedViewsController_update
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateViewDto'
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Update a saved view (only the owner may edit it)
      tags:
      - Saved Views
    delete:
      operationId: SavedViewsController_remove
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Delete a saved view (only the owner may delete it)
      tags:
      - Saved Views
components:
  schemas:
    UpdateViewDto:
      type: object
      properties:
        name:
          type: string
        config:
          type: object
        isDefault:
          type: boolean
    CreateViewDto:
      type: object
      properties:
        entity:
          type: string
        name:
          type: string
        config:
          type: object
      required:
      - entity
      - name
      - config
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
