openapi: 3.2.0
info:
  title: LDM v3 Search API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Search
paths:
  /api/search:
    get:
      operationId: SearchController_search
      parameters:
      - name: q
        required: true
        in: query
        schema:
          example: anna@acme.com
          type: string
      - name: limit
        required: false
        in: query
        description: Max items per bucket (capped at 50). Default 10.
        schema:
          example: 10
          type: number
      - name: types
        required: false
        in: query
        description: 'Comma-separated subset of [contact, company, lead]. Default: all three.'
        schema:
          example: contact,company,lead
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Universal cross-entity search by free-text query.
      tags:
      - Search
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
