openapi: 3.2.0
info:
  title: LDM v3 Phantom Browser / Download API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Phantom Browser / Download
paths:
  /api/phantom-browser/sync:
    post:
      operationId: PhantomBrowserDownloadController_syncByToken
      parameters:
      - name: x-phantom-token
        required: true
        in: header
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Sync Phantom desktop client profiles using its token
      tags:
      - Phantom Browser / Download
  /api/phantom-browser/update/check:
    get:
      operationId: PhantomBrowserDownloadController_updateCheck
      parameters:
      - name: version
        required: true
        in: query
        schema:
          type: string
      - name: hash
        required: true
        in: query
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Check for available Phantom client updates
      tags:
      - Phantom Browser / Download
  /api/phantom-browser/update/bundle:
    get:
      operationId: PhantomBrowserDownloadController_updateBundle
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Download the Phantom client update bundle (gzipped source files)
      tags:
      - Phantom Browser / Download
  /api/phantom-browser/download/{platform}:
    get:
      operationId: PhantomBrowserDownloadController_download
      parameters:
      - name: platform
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Download the Phantom client binary for a given platform
      tags:
      - Phantom Browser / Download
  /api/phantom-browser/logs:
    post:
      operationId: PhantomBrowserDownloadController_receiveLogs
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Receive logs from the Phantom desktop client
      tags:
      - Phantom Browser / Download
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
