openapi: 3.2.0
info:
  title: Live Direct Marketing Online Search API
  version: 1.0.0
  contact: {}
  description: 'Operations tagged Search across 2 of this provider''s published API definitions: live-direct-marketing-online-ldm-v3-openapi.json, live-direct-marketing-online-ldm-v3-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Search
paths:
  /api/search:
    get:
      operationId: SearchController_search
      parameters:
      - name: q
        required: true
        in: query
        schema:
          example: anna@acme.com
          type: string
      - name: limit
        required: false
        in: query
        description: Max items per bucket (capped at 50). Default 10.
        schema:
          example: 10
          type: number
      - name: types
        required: false
        in: query
        description: 'Comma-separated subset of [contact, company, lead]. Default: all three.'
        schema:
          example: contact,company,lead
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Universal cross-entity search by free-text query.
      tags:
      - Search
    servers:
    - url: https://api.live-direct-marketing.online
      description: Production
    - url: https://api.dev.live-direct-marketing.online
      description: Development
    - url: http://127.0.0.1:3000
      description: Local
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
x-refined-from:
- live-direct-marketing-online-ldm-v3-openapi.json
- live-direct-marketing-online-ldm-v3-openapi.json
