openapi: 3.2.0
info:
  title: LDM v3 Cohort Metrics API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Cohort Metrics
paths:
  /api/cohort-metrics/funnel:
    get:
      operationId: CohortMetricsController_funnel
      parameters:
      - name: sequenceId
        required: true
        in: query
        schema:
          type: string
      - name: dateFrom
        required: true
        in: query
        schema:
          type: string
      - name: dateTo
        required: true
        in: query
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Get sequence funnel metrics for a date range
      tags:
      - Cohort Metrics
      x-required-scope:
      - mailing:read
  /api/cohort-metrics/latency:
    get:
      operationId: CohortMetricsController_latency
      parameters:
      - name: sequenceId
        required: true
        in: query
        schema:
          type: string
      - name: dateFrom
        required: true
        in: query
        schema:
          type: string
      - name: dateTo
        required: true
        in: query
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Get reply latency metrics for a sequence/date range
      tags:
      - Cohort Metrics
      x-required-scope:
      - mailing:read
  /api/cohort-metrics/cohorts:
    get:
      operationId: CohortMetricsController_cohorts
      parameters:
      - name: sequenceId
        required: true
        in: query
        schema:
          type: string
      - name: dateFrom
        required: true
        in: query
        schema:
          type: string
      - name: dateTo
        required: true
        in: query
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Get cohort breakdown for a sequence/date range
      tags:
      - Cohort Metrics
      x-required-scope:
      - mailing:read
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
