openapi: 3.2.0
info:
  title: LDM v3 Browser Queue API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Browser Queue
paths:
  /api/admin/browser-queue:
    get:
      operationId: BrowserQueueController_getStats
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Get browser queue stats and fair-share view
      tags:
      - Browser Queue
  /api/admin/browser-queue/jobs:
    get:
      operationId: BrowserQueueController_getJobs
      parameters:
      - name: status
        required: true
        in: query
        schema:
          type: string
      - name: start
        required: true
        in: query
        schema:
          type: string
      - name: end
        required: true
        in: query
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: List browser queue jobs by status with pagination
      tags:
      - Browser Queue
      x-required-scope:
      - admin:read
  /api/admin/browser-queue/{id}/cancel:
    post:
      operationId: BrowserQueueController_cancelJob
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Cancel a browser queue job by id
      tags:
      - Browser Queue
  /api/admin/browser-queue/{id}/retry:
    post:
      operationId: BrowserQueueController_retryJob
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Retry a failed browser queue job
      tags:
      - Browser Queue
  /api/admin/browser-queue/pause:
    post:
      operationId: BrowserQueueController_pause
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Pause the browser queue
      tags:
      - Browser Queue
      x-required-scope:
      - admin:write
  /api/admin/browser-queue/resume:
    post:
      operationId: BrowserQueueController_resume
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Resume the browser queue
      tags:
      - Browser Queue
      x-required-scope:
      - admin:write
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
