openapi: 3.2.0
info:
  title: LDM v3 Nalog ID API
  description: 'Multi-tenant B2B outreach automation platform. Auth: JWT Bearer (15-min) or tenant API key (ldm_*) managed in CRM Settings → API Keys. All tenant-scoped endpoints require the X-Tenant-Id header.'
  version: 1.0.0
  contact: {}
servers:
- url: https://api.live-direct-marketing.online
  description: Production
- url: https://api.dev.live-direct-marketing.online
  description: Development
- url: http://127.0.0.1:3000
  description: Local
tags:
- name: Nalog ID
paths:
  /api/nalog-id/lookup:
    post:
      operationId: NalogIdController_lookup
      parameters:
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '201':
          description: ''
      security:
      - jwt: []
      summary: Look up Russian tax/company data (Nalog) by company info
      tags:
      - Nalog ID
      x-required-scope:
      - connectors:read
  /api/nalog-id/test:
    get:
      operationId: NalogIdController_test
      parameters:
      - name: q
        required: true
        in: query
        schema:
          type: string
      - name: city
        required: true
        in: query
        schema:
          type: string
      - name: domain
        required: true
        in: query
        schema:
          type: string
      - name: debug
        required: true
        in: query
        schema:
          type: string
      - name: X-Tenant-Id
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: Tenant UUID — required for all tenant-scoped endpoints
      responses:
        '200':
          description: ''
      security:
      - jwt: []
      summary: Debug/test endpoint for Nalog lookup via query parameters
      tags:
      - Nalog ID
      x-required-scope:
      - connectors:read
components:
  securitySchemes:
    jwt:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: JWT access token from /auth/login (Bearer <token>)
    tenant-api-key:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Tenant API key (Bearer ldm_*) for MCP/A2A clients. Issued via CRM Settings → API Keys.
    rpa-service:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Dedicated RPA service key. No tenant API-key or query-key authentication.
